@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;500&family=Lobster&display=swap');

/* Estilos base */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
}

a { text-decoration: none; }

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

li { list-style: none; }

tbody {
  display: inline-block;
  width: 100%;
}

button { font-size: 1rem; }

input:focus { outline: none; }

:root {
  --lobster-font: "Lobster";
  --main-font: "Darker Grotesque";

  --font-xl: 5rem;
  --font-lg: 4rem;
  --font-md: 2.2rem;
  --font-sm: 1.6rem;
  --font-xs: 1.2rem;
  --font-xxs: .8rem;

  --main-color: #ff1616;
  --second-color: #0770b3;
  --third-color: #B32222;
  --fourth-color: #30afff;
  --dark-color: #000000;
  --dark-grey: #252525;
  --light-grey: #cecece;
  --yellow-color: #fffc30;
  --white-color: #ffffff;

  --z-max: 10000;
}

/* General Styles */
.body {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  overflow-x: hidden;
  font-family: var(--main-font);
}

.section {
  display: block;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 3rem;
  width: 100%;
  height: auto;
}

.title {
  display: block;
  width: 100%;
  text-align: center;
  font-family: var(--lobster-font);
  font-size: var(--font-lg);
  color: var(--main-color);
  font-weight: lighter;
  text-align: center;
  padding-bottom: 3rem;
}

.subtitle-one {
  font-family: var(--lobster-font);
  font-size: var(--font-md);
  color: var(--second-color);
  font-weight: lighter;
  text-align: center;
  display: block;
  padding-bottom: 2rem;
}

.subtitle-two {
  font-family: var(--lobster-font);
  font-size: var(--font-md);
  font-weight: lighter;
  display: block;
  text-align: center;
}

.text-white { color: var(--white-color) }

.btn {
  padding: .8rem 1.8rem;
  display: inline-block;
  height: max-content;
  border-radius: 2rem;
  font-size: var(--font-xs);
  text-transform: uppercase;
  letter-spacing: .06rem;
  line-height: 1;
  cursor: pointer;
}

.main-btn {
  color: var(--white-color);
  background-color: var(--fourth-color);
  font-weight: bold;
  border: 1px solid var(--fourth-color);
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.main-btn:hover {
  background-color: var(--white-color);
  color: var(--fourth-color);
}

.danger-btn {
  background-color: var(--third-color);
  font-size: var(--font-xxs);
  color: var(--white-color)
}
/* END General Styles */


/* ########## LAYOUT styles ########## */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.full {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.y-center { align-items: center; }
.y-bottom { align-items: flex-end; }
.x-center { justify-content: center; }
.x-end { justify-content: flex-end; }
.flex-column { flex-direction: column; }

@media screen and (min-width: 1024px) {
  .md-y-center { align-items: center; }
  .md-y-right { align-items: flex-end; }
  .md-10 { width: 10% }
  .md-15 { width: 15% }
  .md-20 { width: 20% }
  .md-30 { width: 30%; }
  .md-33 { width: 33.33%; }
  .md-40 { width: 40% }
  .md-50 { width: 50%; }
  .md-60 { width: 60%; }
  .md-70 { width: 70%; }
}
/* ########## END LAYOUT styles ########## */


/* ########## Hero background styles ########## */
.hero-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../images/hero_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero-bg::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: linear-gradient(135deg, rgba(7 112 179 / .2) 20%,rgba(48 175 255 / .2) 70%);
  z-index: 0;
}
/* ########## ENDHero background styles ########## */

/* ########## HEADER common styles ########## */
.header {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: rgba(255 255 255 / .86);
  z-index: var(--z-max);
  box-shadow: 0 1px 3px rgba(37 37 37 / .1);
}

.nav-header {
  width: 100%;
  height: 100%;
}

.header-logo { width: 100%; }

.header-logo_text {
  display: block;
  width: inherit;
  font-family: var(--lobster-font);
  color: var(--main-color);
  font-size: var(--font-sm);
}
/* ########## END HEADER common styles ########## */

/* ########## MAIN common styles ########## */
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--white-color);
}

.main-content {
  width: 60%;
  text-align: right;
  margin-right: 3rem;
  padding: 2.6rem 4rem;
  background-color: rgba(7 112 179 / .8);
  border-radius: .6rem;
}

.main-content_text {
  font-size: var(--font-sm);
  line-height: 1;
}
.main-content_title {
  font-size: var(--font-xl);
  font-family: var(--lobster-font);
  font-weight: 400;
  line-height: 1;
}
.main-content_slogan {
  font-size: var(--font-md);
  color: var(--yellow-color);
}
/* ########## END MAIN common styles ########## */


/* Products Section */
.card-item, .orders-option_item {
  width: 33.33%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
  flex-grow: 1;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: .6rem;
  box-shadow: 0 2px 5px rgba(37 37 37 / .2);
  position: relative;
}

.card-image_container {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  border-top-left-radius: .6rem;
  border-top-right-radius: .6rem;
}

.card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

.card-content_container {
  width: 100%;
  height: auto;
  position: relative;
  padding: 1.2rem 2rem;
  padding-bottom: 6rem;
}

.card-content_title {
  font-size: var(--font-md);
  color: var(--dark-grey);
  line-height: .8;
  padding-bottom: 1rem;
  font-weight: 400;
}

.card-content_details {
  width: 100%;
  height: inherit;
  margin-bottom: 1rem;
}

.card-content_info {
  font-size: var(--font-xs);
  color: var(--main-color);
  font-family: var(--lobster-font);
}

.cake-info {
  font-family: var(--main-font);
  font-size: var(--font-sm);
  color: var(--dark-grey);
  font-weight: 600;
}

.card-cta {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
/* END Products Section */

/* Orders Section */
.orders {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--fourth-color);
  color: var(--white-color);
}

.orders-description {
  font-size: var(--font-md);
  text-align: center;
  margin-bottom: 6rem;
}

.options-container {
  display: block;
  position: relative;
  width: 100%;
  padding: 1.6rem 2rem;
  padding-top: 3.6rem;
  background-color: var(--white-color);
  height: 100%;
  color: var(--dark-color);
  border-radius: .6rem;
  font-size: var(--font-sm);
}

.options-title {
  margin-bottom: 1.6rem;
  position: absolute;
  top: -2rem;
  left: 50%;
  background-color: var(--second-color);
  display: block;
  transform: translateX(-50%);
  padding: 1rem 4rem;
  border-radius: 3rem;
  color: var(--white-color);
}

.options-description, .options-info {
  font-size: var(--font-sm);
  padding-bottom: .4rem;
}

.options-description {
  display: flex;
  justify-content: space-between;
}

.options-info {
  font-weight: 600;
}
/* END Orders Section */

/* Checkout orders */
.checkout-form {
  width: 100%;
  position: relative;
  height: auto;
}

.checkout-order {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.checkout-title {
  font-size: var(--font-sm);
  font-weight: 600;
  display: block;
  margin-bottom: .6rem;
  text-align: center;
  width: 100%;
}

.checkout-order_select, .checkout-order_total, .checkout-order_amount {
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.checkout-order_select { width: 40%; }

.checkout-order_total { width: 20%; }

.checkout-order_amount { width: 20%; }

.checkout-order_add {
  width: 20%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.checkout-select, .checkout-number { padding: .4rem; }

option, .checkout-select, .checkout-number {
  font-family: var(--lobster-font);
  font-size: var(--font-xs);
  color: var(--second-color);
  font-weight: lighter;
}

.checkout-number {
  text-align: center;
  width: 100%;
}

.checkout-amount  {
  font-size: var(--font-sm);
  color: var(--second-color);
  font-weight: bold;
  text-align: right;
  border-bottom: 1px solid rgba(37 37 37 / .4);
  padding-bottom: .4rem;
}

.checkout-add_order {
  padding: 1rem;
  font-size: var(--font-xs);
  color: var(--fourth-color);
  display: inline-block;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}

.checkout-choices {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.choices-title, .delivery-title, .order-title {
  position: relative;
  width: 100%;
  padding-top: 2rem;
}

.choices-title::before, .delivery-title::before, .order-title::before {
  content: "";
  position: absolute;
  width: 10rem;  
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--second-color);
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.choices-subtitle {
  font-size: var(--font-sm);
  display: block;
  font-weight: 600;
  margin-bottom: .6rem;
  text-align: center;
  color: var(--third-color);
}

/* .choices-subtitle::after {
  content: " *";
  font-weight: 600;
  color: var(--second-color);
  font-size: var(--font-sm);
} */

input[type="checkbox"] { cursor: pointer; }
.choices-label, .choices-content_data-amount { font-size: var(--font-sm); }

.choices-list_add {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.choices-list_add span{
  display: block;
  font-size: var(--font-xs);
  font-weight: 600;
  cursor: pointer;
}

.choices-content {
  width: 100%;
  padding: 1rem 2.6rem;
}

.choices-content_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.choices-content_data-checkbox {
  width: 5%;
  display: flex;
  align-items: center;
}

.choices-content_data-info {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choices-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: .4rem;
}

.choices-content_data-amount {
  font-weight: 600;
}
/* END Checkout orders */



.selected-info_title {
  font-size: var(--font-sm);
  color: var(--third-color);
  font-weight: 600;
  margin-bottom: .6rem;
}

.selected-info_details {
  font-size: var(--font-sm);
  color: var(--second-color);
  font-weight: 600;
}

.selected-info_delete {
  display: flex;
  text-transform: uppercase;
  font-weight: var(--font-xs);
  font-weight: 600;
  color: var(--main-color);
  cursor: pointer;
}



.user-order_details {
  width: 100%;
  margin-bottom: 6rem;
}


.order-table { 
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.table-row {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: .2rem;
}

.table-h {
  font-size: var(--font-xs);
  padding: .6rem 0;
  background-color: var(--second-color);
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.table-data {
  display: block;
  padding: .8rem .2rem;
  padding-bottom: .4rem;
  border-bottom: 1px solid var(--second-color);
  font-size: var(--font-xs);
  color: var(--second-color);
}

.table-data:last-child {border-bottom: 1px solid transparent;}

.delete-item {
  display: inline-block;
  background-color: none;
  border: none;
  color: var(--main-color);
  font-size: var(--font-xxs);
  font-weight: bold;
  cursor: pointer;
  margin-left: 1rem;
}

.order-details {
  flex-wrap: nowrap;
  gap: 1rem;
}

.order-data {
  font-size: var(--font-sm);
  color: var(--white-color);
  background-color: var(--second-color);
  padding: 1.2rem .8rem;
  text-align: center;
  border-radius: 0 0 2rem 2rem;
}

.order-data_info {
  font-size: inherit;
  font-weight: bold;
}

.user-delivery_info {
  position: relative;
  display: block;
  width: 100%;
}

.delivery-data_container { margin-bottom: 2rem; }

.delivery-data {
  width: 100%;
  display: flex;
  padding: .4rem 0;
  align-items: center;
}

.delivery-data label {
  width: 30%;
  color: var(--dark-grey);
  font-weight: bold;
  font-size: var(--font-xs);
}

.delivery-data input {
  width: 70%;
  padding: .4rem;
  border: none;
  border-bottom: 1px solid var(--dark-grey);
  font-family: var(--main-font);
  font-size: var(--font-xs);
  letter-spacing: .08rem;
  font-weight: lighter;
}

.delivery-data input:focus {
  border-bottom: 1px solid var(--fourth-color);
  background-color: var(--fourth-color);
  color: var(--white-color);
}

.request-order {
  display: block;
  text-align: center;
 }